@import 'variables';
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
body {
  font-family: $font-body !important;
}
.divTexto{
    margin-top: 30px;
    h1{
      font-family: $font-stack !important;
      color: #4AC8AC;
      text-transform: uppercase;
      font-size: 2.8em;
      margin-bottom: 0.4em;
      text-align: center;
    }
    span{
    font-size: 18px;
    color: #666;
    margin-bottom: 0.6em;
    display: block;
    }
    h2{
      margin-bottom: 1.5em;
    text-align: center;
    font-size: 18px;
    color: #666;
    }
    textarea{
      border-radius: 3px;
      padding: 8px;
      font-size: 0.9em;
      margin-bottom: 2em;
      color: #323F59;
      &:focus{
          box-shadow: 0 0 5px #999;
      }
    }
}
.divBtn{

  button{
    width: 100%;
    color: #fff;
    background-color: #4AC8AC;
    border-color: #33a88e;
    transition: background-color 300ms ease-out;
    font-family: $font-stack;
    font-size: 1.3em;
    display: inline-block;

    &:hover{
      background-color: #33a88e;
    }
  }
}

#divCont{
  pre{
    color: #333;
    font-size: 0.9em;
    text-align: center;
  }
}

.divExplicacion{
  font-size: 14px;
  margin-bottom: 4em;
  span{
    font-size: 18px;
    color: #444;
    margin-bottom: 0.6em;
    display: block;
    margin-top: 20px;
  }
  .caracterees{
    color: #FF4B4B;
    background-color: #e4e4e4;
    padding: 1em;
  }
  div{
    color: #666;
  }
  li{
    font-size: 14px;
  }
}
